@model Order
<form asp-action="CheckOut" method="post" class="form-horizontal" role="form">
    <h4>You're just one step away from your delicios cakes.</h4>
    <div class="form-group">
        <label asp-for="LastName"></label>
    </div>
</form>